.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /* margin-top: 0px; */
  /* padding-top: 0px; */
}



h1{
  color: seashell;
  margin-top: 0px;
  padding-top: 15px;
}

