.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #f8f8f8; */
}

.table-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
    /* margin-top: 5%;  */
}

button {
    margin: 10px;
    background: rgb(238,174,202);
    background: linear-gradient(3deg, rgba(238,174,202,1) 69%, rgba(148,187,233,1) 100%);
    font-size: 3rem;
    border: none;
    /* padding: 15px 15px; */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%; /* This will make the button round */
    width: 3rem; /* Fixed width */
    height: 3rem; /* Fixed height */
}

.button-containers {
    display: flex;
    flex-direction: column;
  }

button:hover {
    box-shadow: 2px 2px 2px 2px rgba(238,174,202,1); /* This creates a soft glow around the button */
}

table {
    /*width: 80%;*/
    height: 80%;
}

.dead, .alive {
    outline: .5px solid slategrey;
    width: 2rem;
    height: 2rem;
}

.alive {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transition: background-color 0.1s ease-in-out;
}

.alive:hover {
    opacity: .4;
    background: #e6e6e6; /* Change to the same color as dead cells on hover */
}

.dead {
    background-color: #e6e6e6; /* A lighter grey color for dead cells */
    transition: background-color 0.1s ease-in-out;
}


.dead:hover {
    opacity: .8;
    background: rgba(238,174,202,1.2);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); /* Change to the same color as alive cells on hover */
}   
    